<%- include('partials/_head') %>
<body>
  <main>
    <%- include('partials/_header') %>

    <div class="card mx-auto" style="min-width:28rem;max-width:60%;">
      <div class="d-flex card-header justify-content-center">
        <img src="/src/error-icon.png" alt="Error icon" class="card-img-top" style="width:25%">
      </div>
      <div class="card-body">
        <h3 class="card-title display-3 text-center mx-3"><%= errorCode %></h3>
        <p class="lead text-center"><%= errorMsg %></p>
      </div>
    </div>
  </main>
</body>