<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body>
  <main>
    <%- include('partials/_header') %>
    <div class="justify-content-center w-50 mx-auto">
      <div class="text-center mb-2">
        <h5 class="display-4"><%= errorCode %> </h5>
        <p class="lead"><%= errorMsg %></p>
      </div>
      <div class="text-center mb-5">
        <img src="/src/error-icon.png" alt="Error icon" width="200">
      </div>
    </div>
  </main>
</body>